* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: blueviolet;
    
}
img.centre {
    float: none;
}
img.lado {
    float: right;
    width: 100px;
    padding: auto;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}